
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    min-height: 100vh;
    background-color: rgb(239, 239, 239);
    font-family: 'Open Sans', sans-serif;
}

/* Search bar */
form {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

input:focus { 
    outline: none;
}
/* Search bar */

main {
    padding: 2rem;
}

h2 {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}  

.allPokemon{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}

.pokemon {
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, .25);
    padding-block: 1rem;
    text-transform: uppercase;
}

.pokemonImg {
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
}

.pokemonImg img{
    width: 100%;
    max-width: 6rem;
}

/* Assign color to type-pokemon */
.grass {
    background-color: #78C850;
}

.poison {
    background-color: #A040A0;
    color: white;
}

.fire{
    background-color: #F08030;
    color: white;
}

.flying {
    background-color: #A890F0;
}

.water {
    background-color: #6890F0;
    color: white;
}

.bug {
    background-color: #A8B820;
}

.grass, .poison, .fire, .flying, .water, .bug {
    border-radius: 5px;
}

/* Center pokemon info */
.pokemonInfo {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-inline: 1rem;
    align-items: center;
    text-align: center;
}

/* Center name container */
.nameContainer {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemonName {
    font-size: 1.3rem;
}

/* Style types */
.pokemonTypes {
    display: flex;
    gap: .5rem;
    font-size: .75rem;
    font-weight: 500;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemonStats {
    font-size: .85rem;
}

.stat {
    background-color: rgb(239, 239, 239);
    padding: .25rem .5rem;
    border-radius: 5px;
}